<h1>Articles Archive</h1>

<table>
  <thead>

    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Actions</th>

    </tr>
  </thead>
  <tbody>
    <% @articles.each do |a| %>
      <tr>
        <td><h2><%= a.title %></h2></td>
        <td><%= a.description %></td>
        <td><%= link_to "View", article_path(a) %></td>
        <td><%= link_to "Delete", article_path(a), data: {
                                                     turbo_method: :delete,
                                                     turbo_confirm: "Are you sure?",
                                                   } %></td>
      </tr>
    <% end %>

  </tbody>
</table>
