<h1>Articles Archive</h1>

<table>
  <thead>

    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Actions</th>

    </tr>
  </thead>
  <tbody>
    <% @articles.each do |a| %>
      <tr>
        <td><h2><%= a.title %></h2></td>
        <td><%= a.description %></td>
        <td></td>
      </tr>
    <% end %>

  </tbody>
</table>
